<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get in Contact </title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <form>
        <div class="container">
            <div class="grid-item"><label for="first_name">First Name</label></div>
            <div class="grid-item"><label for="last_name">Last Name</label></div>
            <div class="grid-item"><label for="phone">Phone Number</label></div>
            <div class="grid-item"><input type="text" id="first_name" name="first_name"></div>
            <div class="grid-item"><input type="text" id="last_name" name="last_name"></div>
            <div class="grid-item"><input type="text" id="phone" name="phone"></div>
            <div class="grid-item"><label for="email">Email Address</label></div>
            <div class="grid-item"><label for="subject">What do you want to talk about?</label></div>
            <div class="grid-item"><label for="message">Your message:</label></div>
            <div class="grid-item"><input type="text" id="email" name="email"></div>
            <div class="grid-item"><input type="text" id="subject" name="subject"></div>
            <div class="grid-item"><textarea id="message" name="message"></textarea></div>
        </div>
    </form>
</body>
</html>
