{# templates/contact.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get in Contact </title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <form method="post">
        <div class="container">
            <div class="grid-item"><label for="first_name">First Name</label></div>
            <div class="grid-item"><label for="last_name">Last Name</label></div>
            <div class="grid-item"><label for="phone">Phone Number</label></div>
            <div class="grid-item"><input type="text" id="first_name" name="first_name"
                                          placeholder="First Name"
                                          value="{{ request.form['first_name'] }}"></div>
            <div class="grid-item"><input type="text" id="last_name" name="last_name"
                                          placeholder="Last Name"
                                          value="{{ request.form['last_name'] }}"></div>
            <div class="grid-item"><input type="tel" id="phone_number" name="phone_number"
                                          placeholder="Phone Number"
                                          value="{{ request.form['phone_number'] }}"></div>
            <div class="grid-item"><label for="email">Email Address</label></div>
            <div class="grid-item"><label for="subject">What do you want to talk about?</label></div>
            <div class="grid-item"><label for="message">Your message:</label></div>
            <div class="grid-item"><input type="email" id="email" name="email"
                                          placeholder="Email Address"
                                          value="{{ request.form['email'] }}"></div>
            <div class="grid-item"><input type="text" id="subject" name="subject"
                                          placeholder="Subject Matter"
                                          value="{{ request.form['subject'] }}"></div>
            <div class="grid-item"><textarea id="message" name="message" placeholder="So, what's up?">
                                                {{ request.form['subject'] }}</textarea></div>
            <div class="grid-item"><input class="button" type="submit" id="submit" value="Contact Us!"
                                          formaction="/ContactMe"/> <input type="hidden" id="visible" name="visible"
                                                                           value="1"> </div>
            <div class="grid-item"></div>
            <div class="grid-item h-captcha" data-sitekey="dfa0edb4-794c-4ac2-a14d-1eb1039ab947">{{ hcaptcha }}</div>
        </div>
    </form>
</body>
</html>
